input.ng-invalid:not(.ng-untouched) {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
    border: 1px solid #ff8080;
}

.error-message {
    display: none;
    color: #ff8080;
}

.form-error-container {
    font-size: 15px;
    color: #ff4242;
    font-weight: 700;
}

.form-success-container {
    font-size: 15px;
    color: #4eb944;
    font-weight: 700;
}

.error-message.has-error {
    display: block;
}

.page-title {
    background-color: #4fc7bd1c;
    margin: 15px 0 50px;
}

.page-title h1 {
    margin-bottom: 0;
}

.page-title h5 {
    margin-bottom: 30px;
    font-style: italic;
}

.btn {
    margin-right: 5px;
}

.btn:last-child {
    margin-right: 0;
}

.job-offer {
    background-color: #f0f2f3;
    border-left: 5px solid #0aa69a;
    padding: 15px 10px;
    margin-bottom: 10px;
}

.job-offer p {
    margin-bottom: 0;
}

p.salary {
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 20px;
}

.title {
    font-weight: 700;
}

.company {
    font-style: italic;
}

.title,
.company {
    font-size: 1.3em;
}

.address {
    color: #4fc7bd;
}