<div class="container">
    <div class="row">
        <div class="col-md-12 page-title">
            <h1>Home</h1>
            <h5>Jobs board</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row job-offer" ng-repeat="(key, value) in postings">
        <div class="col-sm-9">
            <p class="title">{{value.title}}</p>
            <p class="company">{{value.company}}</p>
            <p class="address street">{{value.streetName}}, {{value.postalCode}} {{value.city}}</p>
        </div>
        <div class="col-sm-3">
            <p class="salary">{{value.salaryMin}}-{{value.salaryMax}}zł</p>
            <button class="btn btn-primary float-right">Apply</button>
        </div>
    </div>
</div>