<div class="container">
    <div class="row">
        <div class="col-md-12 page-title">
            <h1>Add new posting</h1>
            <h5>Fill the form below:</h5>
        </div>
    </div>
</div>
<div class="container" ng-controller="AddPostingCtrl">
    <form name="addPostingForm" class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" ng-model="addPostingForm.title" required="" class="form-control" id="title" placeholder="Job title">
            </div>
            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" ng-model="addPostingForm.company" required="" class="form-control" id="company" placeholder="Company name">
            </div>
            <div class="form-group">
                <label for="salaryMin">Salary (min)</label>
                <input type="number" ng-model="addPostingForm.salaryMin" required="" class="form-control" id="salaryMin" placeholder="Enter salary (min)">
            </div>
            <div class="form-group">
                <label for="salaryMax">Salary (max)</label>
                <input type="number" min="{{addPostingForm.salaryMin}}" max="{{addPostingForm.salaryMin*2}}" ng-model="addPostingForm.salaryMax" required="" class="form-control" id="salaryMax" placeholder="Enter salary (max)">
                <small class="form-text text-muted">Maximum salary has to be at most two times greater than minimum salary</small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" ng-model="addPostingForm.city" required="" class="form-control" id="city" placeholder="City">
            </div>
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" ng-model="addPostingForm.streetName" required="" class="form-control" id="street" placeholder="Street name">
            </div>
            <div class="form-group">
                <label for="postalCode">Postal code</label>
                <input type="text" ng-pattern="/^(\d{2}-\d{3})$/" required="" ng-model="addPostingForm.postalCode" class="form-control" id="postalCode" placeholder="_ _ - _ _ _">
                <small class="form-text text-muted">Postal code has pattern: _ _ - _ _ _</small>
            </div>
        </div>
        <div class="col-md-12">
            <div ng-show="showFormError" class="form-group float-left form-error-container">
                <p>{{errorMessage}}</p>
            </div>
            <div ng-show="showFormSuccess" class="form-group float-left form-success-container">
                <p>{{successMessage}}</p>
            </div>
            <div class="form-group float-right">
                <button type="reset" class="btn btn-default" ng-click="resetAddPostingForm()">Reset</button>
                <button type="button" class="btn btn-primary" ng-click="submitAddPostingForm()">Submit</button>
            </div>
        </div>
    </form>
</div>